/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@import "tailwindcss";

body {
  font-family: 'Manrope', sans-serif;
}

.navbar {
  font-family: 'Manrope', sans-serif;
}

/*Our Security barge*/
@keyframes float {
  0%, 100% { 
    transform: translateY(0px); 
  }
  50% { 
    transform: translateY(-10px); 
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}